.collection-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .collection-items {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}