.about {
    width: 100%;
    min-height: 70vh;
    padding: 20px 0px;

    .about-content {
        width: 100%;
        padding: 20px 0px;
        
        .about-text {
            margin: 20px 0px;
        }
    }
}