* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* ==================================================================================================== */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
  position: relative;
}

@media (max-width: 319px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 93%;
  }
}